.container {
   
    height:$mobileHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $DarkCyan;
    
}



.card {
    width: $card_mobileWidth;
    height: $card_mobileHeight;
    border-radius: 5%;
    background-color: white;
    position: relative;
    z-index: 20;

}


.image {
   
    position: relative;
    top:-50px;
    left: 115px;
    z-index: 100;
    border: 5px solid white;
    border-radius: 50%;

}

.top {
    background-image: url("../images/bg-pattern-top.svg");
        width: 978px;
        height: 978px; 
        position: absolute;
        z-index: 10;
        top:-569px;
        left:-766px;
}

.bottom {
    background-image: url("../images/bg-pattern-bottom.svg");
        width: 978px;
        height: 978px; 
        position: absolute;
        z-index: 10;
       top:334px;
       left: 100px;
}
.header {
        background-image: url("../images/bg-pattern-card.svg");
        width: 326px;
        height: 140px;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
}

.details {
    text-align: center;
    position: relative;
    top:-30px;
    div:not(:last-child) {
        display: inline;
    }
    .name {
      font-size: 18px;
      font-weight: 700; 
    }
    .age {
        font-size: 18px;
        font-weight: 400;
        color: $DarkGray;
    }
    .location {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: $DarkGray;
    }

}

.line {
    border-top: 0.2px solid $DarkGray;
    margin-bottom: 20px;
 
}

.footer {
    display: flex;
    justify-content: space-around;
    .quantity {
        text-align: center;
        font-size: 18px;
        font-weight: 700; 
        
    }
    .desc {
       text-align: center;
        font-size: 10px;
        font-weight: 400;
        color: $DarkGray;

    }
   
    
}


@media screen and (min-width: 768px) {

    .card {
        width: $card_desktopWidth;
        height: $card_desktopHeight;
    
    }
    .top {
    
            z-index: 10;
            top:-569px;
            left:-255px;
    }
    
    .bottom {
        
            z-index: 10;
           top:334px;
           left: 700px;
    }

    .header {
        width: 350px;
        height: 140px;
     }
     .image {
   
       
        top:-50px;
        left: 120px;
    
        border: 7px solid white;
       
    
    }

}


  
  
